<!-- Collect tags from all publications -->
{%- assign authors = blank -%}
{%- for pub in site.publications -%}
{%- assign pub_authors = pub.authors | join:'|' | append:'|' -%}
{%- if pub_authors != '|' -%}
{%- assign authors = authors | append:pub_authors -%}
{%- endif -%}
{%- endfor -%}
{%- assign authors = authors | split:'|' | uniq | sort -%}

<!-- List tags & related publications -->
{% for aut in authors %}
<div class="py-3">
  <h4 id="{{ tag | slugify }}">{{ aut }}</h4>
  <ol>
  {% for pub in site.publications %}
    {%- if pub.authors contains aut -%}
      {%- if pub.external_url -%}
        {%- assign url = pub.external_url -%}
      {%- else -%}
        {%- assign url = pub.url | relative_url -%}
      {%- endif -%}
    <a href="{{ url }}"><li>{{ pub.title }}</li></a>
    <small class="text-muted"> - {{ pub.date | date_to_long_string }}</small>
    <br/>
    {%- endif -%}
  {% endfor %}
  </ol>
</div>
<hr class="bg-light">
{% endfor %}