<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-18eh{border-color:#000000;font-weight:bold;text-align:center;vertical-align:center}
.tg .tg-5924{background-color:#b4cfec;border-color:#000000;font-weight:bold;text-align:center;vertical-align:center}
.tg .tg-xwyw{border-color:#000000;text-align:center;vertical-align:center}
th      { border-color:#000000;
          text-align: center;}
th span { writing-mode: sideways-lr;   /* +90°: use 'tb-rl' */
          text-align: center;          /* +90°: use 'right' */
          padding:0px 0px 0; }
</style>
<table class="tg" id="bench_table" name="bench_table">
<thead>
  <tr>
    <th>Benchmarks</th>
    <th><span>Num Vars</span></th>
    <th><span>If-then-else<br>Statements<br></span></th>
    <th><span>Infinite <br>state-space</span></th>
    <th><span>Circular<br>Dependency</span></th>
    <th><span>Symbolic <br>Constants</span></th>
    <th><span>Continuous <br>State-Space</span></th>
    <th><span>Defective <br>Variables</span></th>
  </tr>
</thead>
<tbody>
<tr>
    <td class="tg-5924"> <input type="text" id="filter_name" name="filter_name" size="5" value=""></td>
    <td class="tg-5924"> <input type="text" id="filter_vars" name="filter_vars" size="3" value=""></td>
    <td class="tg-5924"><img id="img_filter_if" name="img_filter_if" src="/assets/benchmark/disable.png" onclick="changeImage('img_filter_if', 'filter_if')"/> </td>
    <td class="tg-5924"><img id="img_filter_infinite" name="img_filter_infinite" src="/assets/benchmark/disable.png"  onclick="changeImage('img_filter_infinite', 'filter_infinite')"/> </td>
    <td class="tg-5924"><img id="img_filter_circular" name="img_filter_circular" src="/assets/benchmark/disable.png"  onclick="changeImage('img_filter_circular', 'filter_circular')"/> </td>
    <td class="tg-5924"><img id="img_filter_symbolic" name="img_filter_symbolic" src="/assets/benchmark/disable.png"  onclick="changeImage('img_filter_symbolic', 'filter_symbolic')"/> </td>
    <td class="tg-5924"><img id="img_filter_continuous" name="img_filter_continuous" src="/assets/benchmark/disable.png"  onclick="changeImage('img_filter_continuous', 'filter_continuous')"/> </td>
    <td class="tg-5924"><img id="img_filter_defective" name="img_filter_defective" src="/assets/benchmark/disable.png"  onclick="changeImage('img_filter_defective', 'filter_defective')"/> </td>
</tr>
{% for benchmark in site.benchmarks %}
{%- comment -%} Determine Benchmark URL {%- endcomment -%}
{%- if benchmark.external_url -%}
  {%- assign benchmark_url = benchmark.external_url -%}
{%- else -%}
  {%- assign benchmark_url = benchmark.url | relative_url -%}
{%- endif -%}
  <tr>
    <td class="tg-18eh"><a href="{{ benchmark_url }}">{{ benchmark.name }}</a></td>
    <td class="tg-xwyw">{{ benchmark.numvars }}</td>
    <td class="tg-xwyw">
    {% if benchmark.ifthenelse == "Yes" %}  
    <img src="/assets/benchmark/yes_enable.png" />  
    {% elsif benchmark.ifthenelse == "No" %}
    <img src="/assets/benchmark/no_enable.png" /> 
    {%- else -%}
    {% endif %}
    </td>
    <td class="tg-xwyw">
    {% if  benchmark.infinitesp == "Yes" %}  
    <img src="/assets/benchmark/yes_enable.png" />  
    {% elsif  benchmark.infinitesp == "No" %}
    <img src="/assets/benchmark/no_enable.png" /> 
    {%- else -%}
    {% endif %}
    </td>
    <td class="tg-xwyw">
    {% if benchmark.circdependency == "Yes" %}  
    <img src="/assets/benchmark/yes_enable.png"/>  
    {% elsif benchmark.circdependency == "No" %}
    <img src="/assets/benchmark/no_enable.png" /> 
    {%- else -%}
    {% endif %}
    </td>
    <td class="tg-xwyw">
    {% if benchmark.symbolicconst == "Yes" %}  
    <img src="/assets/benchmark/yes_enable.png" />  
    {% elsif benchmark.symbolicconst == "No" %}
    <img src="/assets/benchmark/no_enable.png" /> 
    {%- else -%}
    {% endif %}
    </td>
    <td class="tg-xwyw">
    {% if benchmark.contstatesp == "Yes" %}  
    <img src="/assets/benchmark/yes_enable.png" />  
    {% elsif benchmark.contstatesp == "No" %}
    <img src="/assets/benchmark/no_enable.png" /> 
    {%- else -%}
    {% endif %}
    </td>
    <td class="tg-xwyw">
    {% if benchmark.defective == "Yes" %}  
    <img src="/assets/benchmark/yes_enable.png" />  
    {% elsif benchmark.defective == "No" %}
    <img src="/assets/benchmark/no_enable.png" /> 
    {%- else -%}
    {% endif %}
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

<script language="javascript">
    function changeImage(img_val, input_val) {
        if (document.getElementById(img_val).src == "https://probing-lab.github.io/assets/benchmark/disable.png") 
        {
            document.getElementById(img_val).src = "https://probing-lab.github.io/assets/benchmark/no_enable.png";
        }
        else if (document.getElementById(img_val).src == "https://probing-lab.github.io/assets/benchmark/no_enable.png") 
        {
            document.getElementById(img_val).src = "https://probing-lab.github.io/assets/benchmark/yes_enable.png";
        }else if (document.getElementById(img_val).src == "https://probing-lab.github.io/assets/benchmark/yes_enable.png") 
        {
            document.getElementById(img_val).src = "https://probing-lab.github.io/assets/benchmark/disable.png";  
        }
        filterTable ();
    }
    
    function filterTable () {
          var input, filter, rows, table, tr, td, i, img;
          table = document.getElementById("bench_table");
          tr = table.getElementsByTagName("tr");
          for (i = 2; i < tr.length; i++) {
              filter = 0;
              tr[i].style.display = "";
              td     = tr[i].getElementsByTagName("td");
              img    = td[2].children[0];
              
              if (img) {
                 if (document.getElementById("img_filter_if").src != "https://probing-lab.github.io/assets/benchmark/disable.png"){
                     if (document.getElementById("img_filter_if").src != img.src){
                         filter = 1;
                     }
                 }
              }
              
              img = td[3].children[0];
              if (img) {
                 if (document.getElementById("img_filter_infinite").src != "https://probing-lab.github.io/assets/benchmark/disable.png"){
                     if (document.getElementById("img_filter_infinite").src != img.src){
                         filter = 1;
                     }
                 }
              }
              
              img = td[4].children[0];
              if (img) {
                 if (document.getElementById("img_filter_circular").src != "https://probing-lab.github.io/assets/benchmark/disable.png"){
                     if (document.getElementById("img_filter_circular").src != img.src){
                         filter = 1;
                     }
                 }
              }
              
             img = td[5].children[0];
              if (img) {
                 if (document.getElementById("img_filter_symbolic").src != "https://probing-lab.github.io/assets/benchmark/disable.png"){
                     if (document.getElementById("img_filter_symbolic").src != img.src){
                         filter = 1;
                     }
                 }
              }
              
              img = td[6].children[0];
              if (img) {
                 if (document.getElementById("img_filter_continuous").src != "https://probing-lab.github.io/assets/benchmark/disable.png"){
                     if (document.getElementById("img_filter_continuous").src != img.src){
                         filter = 1;
                     }
                 }
              }
              
              if (filter == 1){
                  tr[i].style.display = "none";
              }
              
          }
    }

    

</script>



