<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#000000;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-18eh{border-color:#000000;font-weight:bold;text-align:center;vertical-align:center}
.tg .tg-5924{background-color:#b4cfec;border-color:#000000;font-weight:bold;text-align:center;vertical-align:center}
.tg .tg-xwyw{border-color:#000000;text-align:center;vertical-align:center}
th      { border-color:#000000;
          text-align: center;}
th span { writing-mode: sideways-lr;   /* +90°: use 'tb-rl' */
          text-align: center;          /* +90°: use 'right' */
          padding:0px 0px; }
</style>
<table class="tg" id="bench_table" name="bench_table">
<thead>
  <tr>
    <th>Benchmark Name</th>
    <th><span>Num Vars</span></th>
    <th><span>If-then-else<br>Statements<br></span></th>
    <th><span>Infinite <br>state-space</span></th>
    <th><span>Circular<br>Dependency</span></th>
    <th><span>Symbolic <br>Constants</span></th>
    <th><span>Continuous <br>State-Space</span></th>
    <th><span>Defective <br>Variables</span></th>
    <th><span>Non-polynomial <br>Updates</span></th>
  </tr>
</thead>
<tbody>
<tr>
     <td colspan="10" class="tg-5924"></td>
</tr>
<tr>
    <td class="tg-5924"> <input type="text" id="filter_name" name="filter_name" size="10" value="" onkeypress="filterTable();" onchange="filterTable();"></td>
    <td class="tg-5924"> <input type="text" id="filter_vars" name="filter_vars" size="4" value="" onkeypress="filterTable();" onchange="filterTable();"></td>
    <td class="tg-5924"><img id="img_filter_if" name="img_filter_if" src="/assets/benchmark/disable.png" onclick="changeImage('img_filter_if')"/> </td>
    <td class="tg-5924"><img id="img_filter_infinite" name="img_filter_infinite" src="/assets/benchmark/disable.png"  onclick="changeImage('img_filter_infinite')"/> </td>
    <td class="tg-5924"><img id="img_filter_circular" name="img_filter_circular" src="/assets/benchmark/disable.png"  onclick="changeImage('img_filter_circular')"/> </td>
    <td class="tg-5924"><img id="img_filter_symbolic" name="img_filter_symbolic" src="/assets/benchmark/disable.png"  onclick="changeImage('img_filter_symbolic')"/> </td>
    <td class="tg-5924"><img id="img_filter_continuous" name="img_filter_continuous" src="/assets/benchmark/disable.png"  onclick="changeImage('img_filter_continuous')"/> </td>
    <td class="tg-5924"><img id="img_filter_defective" name="img_filter_defective" src="/assets/benchmark/disable.png"  onclick="changeImage('img_filter_defective')"/> </td>
    <td class="tg-5924"><img id="img_filter_defective" name="img_filter_defective" src="/assets/benchmark/disable.png"  onclick="changeImage('img_filter_defective')"/> </td>
</tr>
{% for benchmark in site.benchmarks %}
{%- comment -%} Determine Benchmark URL {%- endcomment -%}
{%- if benchmark.external_url -%}
  {%- assign benchmark_url = benchmark.external_url -%}
{%- else -%}
  {%- assign benchmark_url = benchmark.url | relative_url -%}
{%- endif -%}
  <tr>
    <td class="tg-18eh"><a href="{{ benchmark_url }}">{{ benchmark.name }}</a></td>
    <td class="tg-xwyw">{{ benchmark.numvars }}</td>
    <td class="tg-xwyw">
    {% if benchmark.ifthenelse == "Yes" %}  
    <img src="/assets/benchmark/yes_enable.png" />  
    {% elsif benchmark.ifthenelse == "No" %}
    <img src="/assets/benchmark/no_enable.png" /> 
    {%- else -%}
    {% endif %}
    </td>
    <td class="tg-xwyw">
    {% if  benchmark.infinitesp == "Yes" %}  
    <img src="/assets/benchmark/yes_enable.png" />  
    {% elsif  benchmark.infinitesp == "No" %}
    <img src="/assets/benchmark/no_enable.png" /> 
    {%- else -%}
    {% endif %}
    </td>
    <td class="tg-xwyw">
    {% if benchmark.circdependency == "Yes" %}  
    <img src="/assets/benchmark/yes_enable.png"/>  
    {% elsif benchmark.circdependency == "No" %}
    <img src="/assets/benchmark/no_enable.png" /> 
    {%- else -%}
    {% endif %}
    </td>
    <td class="tg-xwyw">
    {% if benchmark.symbolicconst == "Yes" %}  
    <img src="/assets/benchmark/yes_enable.png" />  
    {% elsif benchmark.symbolicconst == "No" %}
    <img src="/assets/benchmark/no_enable.png" /> 
    {%- else -%}
    {% endif %}
    </td>
    <td class="tg-xwyw">
    {% if benchmark.contstatesp == "Yes" %}  
    <img src="/assets/benchmark/yes_enable.png" />  
    {% elsif benchmark.contstatesp == "No" %}
    <img src="/assets/benchmark/no_enable.png" /> 
    {%- else -%}
    {% endif %}
    </td>
    <td class="tg-xwyw">
    {% if benchmark.defective == "Yes" %}  
    <img src="/assets/benchmark/yes_enable.png" />  
    {% elsif benchmark.defective == "No" %}
    <img src="/assets/benchmark/no_enable.png" /> 
    {%- else -%}
    {% endif %}
    </td>
    <td class="tg-xwyw">
    {% if benchmark.nonpolynomial == "Yes" %}  
    <img src="/assets/benchmark/yes_enable.png" />  
    {% elsif benchmark.nonpolynomial == "No" %}
    <img src="/assets/benchmark/no_enable.png" /> 
    {%- else -%}
    {% endif %}
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

<script language="javascript">
    function changeImage(img_val) {
        
        var fullUrl = window.location.protocol + "//" + window.location.hostname + "/assets/benchmark/";
       
        if (document.getElementById(img_val).src == fullUrl + "disable.png") 
        {
            document.getElementById(img_val).src = fullUrl + "no_enable.png";
        }
        else if (document.getElementById(img_val).src == fullUrl + "no_enable.png") 
        {
            document.getElementById(img_val).src = fullUrl + "yes_enable.png";
        }else if (document.getElementById(img_val).src == fullUrl + "yes_enable.png") 
        {
            document.getElementById(img_val).src = fullUrl + "disable.png";  
        }
        filterTable ();
    }
    
    function filterTable () {
          var filter, benchmark_name, bench_vars, filter_bench_name, filter_bench_vars, fullUrl, table, tr, td, i, img;
          var counter = 0;
          
          var fc_td, img_fc, img2;
          
          fullUrl = window.location.protocol + "//" + window.location.hostname + "/assets/benchmark/";
          //Reading the field filter
          filter_bench_name    = document.getElementById("filter_name").value.trim();
          filter_bench_vars    = document.getElementById("filter_vars").value.trim();
          
              
          table = document.getElementById("bench_table");
          tr = table.getElementsByTagName("tr");
          
          fc_td = tr[2].getElementsByTagName("td");
          
          for (i = 3; i < tr.length; i++) {
              filter = 0;
              tr[i].style.display = "";
                    
              td     = tr[i].getElementsByTagName("td");
        
              benchmark_name = td[0].textContent || td[0].innerText;
              if (filter_bench_name != "" && !benchmark_name.includes(filter_bench_name)){
                  filter = 1;
              }else{
              	  bench_vars = td[1].textContent || td[1].innerText;
              	  if (filter_bench_vars != "" && filter_bench_vars != bench_vars)
                  	  filter = 1;
              }
              
              if (!filter){
              	 for (var z = 2; z < fc_td.length; z++){
          		   	  img_fc = fc_td[z].children[0];
          		      img    = td[z].children[0];
          		      img2   = document.getElementById(img_fc.id);
          		   
          		      if (img2.src != fullUrl + "disable.png" && img2.src != img.src){
          		          filter = 1;
          		          break;
          		       }    
                  }
              }
              
              if (filter){
                  tr[i].style.display = "none";
              }else{
                  counter++;
              }
          }
          tr[1].getElementsByTagName("td")[0].innerHTML =  "Selected " + counter.toString() + " benchmarks";
    }

	filterTable ();
    

</script>



