<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-7ilu{background-color:#3166ff;border-color:#000000;color:#ffffff;font-weight:bold;text-align:center;vertical-align:middle}
.tg .tg-7iluv{background-color:#3166ff;border-color:#000000;color:#ffffff;font-weight:bold;text-align:center;vertical-align:middle;transform:rotate(270deg)}
.tg .tg-18eh{border-color:#000000;font-weight:bold;text-align:center;vertical-align:center}
.tg .tg-5924{background-color:#b4cfec;border-color:#000000;color:#ffffff;font-weight:bold;text-align:center;vertical-align:middle}
.tg .tg-xwyw{border-color:#000000;text-align:center;vertical-align:middle}
th      { background-color: NavajoWhite; 
          color: SaddleBrown; 
          width:70px;  
          text-align: center;
          vertical-align: bottom; }
th span { writing-mode: sideways-lr;   /* +90°: use 'tb-rl' */
          text-align: center;          /* +90°: use 'right' */
          padding:0px 0px 0; }
</style>
<table class="tg">
<thead>
  <tr>
    <th>Benchmarks</th>
    <th><span>Num Vars</span></th>
    <th><span>If-then-else<br>Statements<br></span></th>
    <th><span>Infinite <br>state-space</span></th>
    <th><span>Circular<br>Dependency</span></th>
    <th><span>Symbolic <br>Constants</span></th>
    <th><span>Continuous <br>State-Space</span></th>
    <th><span>Defective <br>Variables</span></th>
    <th><span>Loop <br>Guard</span></th>
  </tr>
</thead>
<tbody>
<tr>
    <td class="tg-5924"> <input type="text" id="filter_name" name="filter_name" size="5" value=""></td>
    <td class="tg-5924"> <input type="text" id="filter_vars" name="filter_vars" size="3" value=""></td>
    <td class="tg-5924"><img id="img_filter_if" name="img_filter_if" src="/assets/benchmark/disable.svg" style="width:50%;" onclick="changeImage()"/> <input type="hidden" id="filter_if" name="filter_if" value="-1"></td>
    <td class="tg-5924"><img id="img_filter_infinite" name="img_filter_infinite" src="/assets/benchmark/disable.svg" style="width:50%;" onclick="changeImage()"/> <input type="hidden" id="filter_infinite" name="filter_infinite" value="-1"></td>
    <td class="tg-5924"><img id="img_filter_circular" name="img_filter_circular" src="/assets/benchmark/disable.svg" style="width:50%;" onclick="changeImage()"/> <input type="hidden" id="filter_circular" name="filter_circular" value="-1"></td>
    <td class="tg-5924"><img id="img_filter_symbolic" name="img_filter_symbolic" src="/assets/benchmark/disable.svg" style="width:50%;" onclick="changeImage()"/> <input type="hidden" id="filter_symbolic" name="filter_symbolic" value="-1"></td>
    <td class="tg-5924"><img id="img_filter_continuous" name="img_filter_continuous" src="/assets/benchmark/disable.svg" style="width:50%;" onclick="changeImage()"/> <input type="hidden" id="filter_continuous" name="filter_continuous" value="-1"></td>
    <td class="tg-5924"><img id="img_filter_defective" name="img_filter_defective" src="/assets/benchmark/disable.svg" style="width:50%;" onclick="changeImage()"/> <input type="hidden" id="filter_defective" name="filter_defective" value="-1"></td>
    <td class="tg-5924"></td>
</tr>
{% for benchmark in site.benchmarks %}
{%- comment -%} Determine Benchmark URL {%- endcomment -%}
{%- if benchmark.external_url -%}
  {%- assign benchmark_url = benchmark.external_url -%}
{%- else -%}
  {%- assign benchmark_url = benchmark.url | relative_url -%}
{%- endif -%}
  <tr>
    <td class="tg-18eh"><a href="{{ benchmark_url }}">{{ benchmark.name }}</a></td>
    <td class="tg-xwyw">{{ benchmark.numvars }}</td>
    <td class="tg-xwyw">
    {% if benchmark.ifthenelse == "Yes" %}  
    <img src="/assets/benchmark/yes_enable.svg" style="width:70%;"/>  
    {% elsif benchmark.ifthenelse == "No" %}
    <img src="/assets/benchmark/no_enable.svg" style="width:70%;"/> 
    {%- else -%}
    {% endif %}
    </td>
    <td class="tg-xwyw">
    {% if  benchmark.infinitesp == "Yes" %}  
    <img src="/assets/benchmark/yes_enable.svg" style="width:70%;"/>  
    {% elsif  benchmark.infinitesp == "No" %}
    <img src="/assets/benchmark/no_enable.svg" style="width:70%;"/> 
    {%- else -%}
    {% endif %}
    </td>
    <td class="tg-xwyw">
    {% if benchmark.circdependency == "Yes" %}  
    <img src="/assets/benchmark/yes_enable.svg" style="width:70%;"/>  
    {% elsif benchmark.circdependency == "No" %}
    <img src="/assets/benchmark/no_enable.svg" style="width:70%;"/> 
    {%- else -%}
    {% endif %}
    </td>
    <td class="tg-xwyw">
    {% if benchmark.symbolicconst == "Yes" %}  
    <img src="/assets/benchmark/yes_enable.svg" style="width:70%;"/>  
    {% elsif benchmark.symbolicconst == "No" %}
    <img src="/assets/benchmark/no_enable.svg" style="width:70%;"/> 
    {%- else -%}
    {% endif %}
    </td>
    <td class="tg-xwyw">
    {% if benchmark.contstatesp == "Yes" %}  
    <img src="/assets/benchmark/yes_enable.svg" style="width:70%;"/>  
    {% elsif benchmark.contstatesp == "No" %}
    <img src="/assets/benchmark/no_enable.svg" style="width:70%;"/> 
    {%- else -%}
    {% endif %}
    </td>
    <td class="tg-xwyw">
    {% if benchmark.defective == "Yes" %}  
    <img src="/assets/benchmark/yes_enable.svg" style="width:70%;"/>  
    {% elsif benchmark.defective == "No" %}
    <img src="/assets/benchmark/no_enable.svg" style="width:70%;"/> 
    {%- else -%}
    {% endif %}
    </td>
    <td class="tg-xwyw">{{ benchmark.loopguard }}</td>
  </tr>
{% endfor %}
</tbody>
</table>

<script language="javascript">
    function changeImage() {
        if (document.getElementById("img_filter_if").src == "https://probing-lab.github.io/assets/benchmark/disable.svg") 
        {
            document.getElementById("img_filter_if").src = "https://probing-lab.github.io/assets/benchmark/no_enable.svg";
            document.getElementById("filter_if").value = 0;
        }
        else if (document.getElementById("img_filter_if").src == "https://probing-lab.github.io/assets/benchmark/no_enable.svg") 
        {
            document.getElementById("img_filter_if").src = "https://probing-lab.github.io/assets/benchmark/yes_enable.svg";
            document.getElementById("filter_if").value = 1;
        }else if (document.getElementById("img_filter_if").src == "https://probing-lab.github.io/assets/benchmark/yes_enable.svg") 
        {
            document.getElementById("img_filter_if").src = "https://probing-lab.github.io/assets/benchmark/disable.svg";  
            document.getElementById("filter_if").value = -1;
        }
    }
</script>



