<footer class="py-3 text-center">
  <a class="wwtf-logo" href="https://www.wwtf.at/programmes/information_communication/ICT19-018">
    <img src="{{ '/assets/logo/logo-wwtf.jpg' | relative_url }}" alt="WWTF Logo" />
  </a>
  <a class="tu" href="https://tuwien.ac.at">
    <img src="{{ '/assets/logo/TU.png'  | relative_url }}" alt="TU Wien" />
  </a>
  <small class="text-muted mb-2">
    <i class="fas fa-code"></i> with <i class="fas fa-heart"></i>
    by <strong>{{ site.author.name }}</strong>
  </small>

  {% include social.html %}
</footer>