<div class="landing-group">
  <img src="{{ '/assets/group.jpg' | relative_url }}" alt="Probing Group" />

  <div class="label">
    <h1>Probabilistic Invariant Generation Group @ TU Wien</h1>
  </div>
</div>

<section class="introduction">
  <p align="justify">ProbInG is a <a href="https://www.wwtf.at/programmes/information_communication/ICT19-018/index.php?lang=EN">WWTF-funded ICT project</a> that aims at developing novel and fully automated approaches to study and formalize the distributions of probabilistic program variables, without any user guidance. Our results will reduce the need for expert knowledge in ensuring the safety and security of computer systems and will cut the design costs of applications based on probabilistic programs, bringing crucial intellectual and economic benefits to our society.
</section>

<div class="mt-5">
  <h3>News and Posts</h3>

  {% include posts/search.html %}
  <div class="card-group mt-2">
    {% for post in site.posts %}
      {% include post-card.html %}
    {% endfor %}
  </div>
</div>
