<div class="landing-group">
  <img src="{{ '/assets/group.jpg' | relative_url }}" alt="Probing Group" />

  <div class="label">
    <h1>Probabilistic Invariant Generation Group @ TU Wien</h1>
  </div>
</div>

<section class="introduction">
  Some general words about the group.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  aliqua. Ornare arcu dui vivamus arcu felis bibendum ut tristique et. Commodo ullamcorper a lacus vestibulum sed.
  Quam nulla porttitor massa id neque aliquam. Non blandit massa enim nec.
</section>

<div class="mt-5">
  <h3>News and Posts</h3>

  {% include posts/search.html %}
  <div class="card-group mt-2">
    {% for post in site.posts %}
      {% include post-card.html %}
    {% endfor %}
  </div>
</div>
