html{
  padding-left: calc(100vw - 100%);
}

body {
  font-family: "Poppins", sans-serif;
}

.badge {
  font-weight: 500;
}

h1 {
  margin-bottom: 20px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
