nav {
  height: 100px;
}

.navbar-brand img {
  height: 80px;
}

.link-after {
  content: "";
  display: block;
  height: 0.15em;
  background: $primary;
}

.nav-item {
  font-size: 18px;
  margin-left: 20px;

  &:hover {
    color: $primary !important;
  }
}

.nav-item.active {
  font-weight: bold;

  &::after {
    @extend .link-after;
    width: 100% !important;
  }
}
