nav {
  height: 150px;
  z-index: 100;
}

.navbar-brand img {
  height: 120px;
}

.navbar-collapse {
  background: white;
}

.link-after {
  content: "";
  display: block;
  height: 0.15em;
  background: $primary;
}

.nav-item {
  font-size: 22px;
  margin-left: 25px;
  line-height: 40px;

  &:hover {
    color: $primary !important;
  }
}

.nav-item.active {
  font-weight: bold;

  &::after {
    @extend .link-after;
    width: 100% !important;
  }
}

.wwtf-logo {
  padding-top: 20px;
  img {
    width: 120px;
    filter: grayscale(100%);
  }

  &:hover img {
    filter: none
  }
}
