.person.card {
  border-radius: $rounded-borders;
  text-decoration: none !important;
  margin: 10px auto;

  .card-img-top {
    border-radius: $rounded-borders $rounded-borders 0 0;
  }

  transition: transform 400ms;

  &:hover:not(.post) {
    transform: translateY(-8px);
    box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.24);
  }
}

.main-image {
  float: left;
  margin: 0 20px 10px 0 !important;
  max-width: 400px !important;
}

@media only screen and (max-width: 700px) {
  .main-image {
    margin: 20px 0 !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}
